<html>
  <head>
    <title>Incorret Password</title>

    <script>
      confirm('Incorrect Password, please try again');
      window.location.replace('/room/<%=roomId%>');
    </script>
  </head>
</html>
