<section>
  <h2>Create your own room</h2>
  <form method="POST" action="/create-room">
    <label for="room-pass" class="sr-only">Password</label>
    <input
      type="password"
      placeholder="Password"
      id="room-pass"
      name="password"
      required
    />
    <button>
      <img src="/images/users-white.svg" alt="Join a room" />
      Create a room
    </button>
  </form>
</section>
