.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas:
    'header header'
    'left right';
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  background: url(/images/home-bg-img.svg) no-repeat top/contain;
  background-position-x: -15rem;
}

main {
  grid-area: right;
  display: flex;
  align-items: center;
  margin-top: -12rem;
}

main .container {
  width: min(36.6rem, 100%);
}

main h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 5vw, 2.8rem);
  color: var(--black);
  margin-bottom: 2.4rem;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

button > img,
.button > img {
  margin-right: 1rem;
}

/* Separator */
.separator {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
  background: var(--grey-blue);
  height: 1px;
  width: 100%;
}

.separator div:nth-child(2) {
  color: var(--grey-blue);
  font-family: 'Poppins', sans-serif;
  line-height: 0;
  padding: 0 1.35rem;
}

.ball {
  background: var(--grey-light);
  position: fixed;
  clip-path: circle();
  width: 21.2rem;
  height: 21.2rem;
}

.ball.top {
  top: -40rem;
  right: -35rem;
  width: 63rem;
  height: 63rem;
}

.ball.bottom {
  bottom: -15rem;
  right: 5.6rem;
}
